[submodule "examples"]
	path = examples
	url = https://github.com/go-orb/examples.git
[submodule "go-orb"]
	path = go-orb
	url = https://github.com/go-orb/go-orb.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/go-orb/plugins.git
[submodule ".github"]
	path = .github
	url = https://github.com/go-orb/.github.git
[submodule "plugins-experimental"]
	path = plugins-experimental
	url = https://github.com/go-orb/plugins-experimental.git
