go 1.23.6

use (
	./examples/benchmarks/event
	./examples/benchmarks/rps
	./examples/event/simple
	./go-orb
	./plugins-experimental/client/orb/transport/basehertz
	./plugins-experimental/client/orb/transport/hertzh2c
	./plugins-experimental/client/orb/transport/hertzhttp
	./plugins-experimental/registry/mdns
	./plugins-experimental/registry/nats
	./plugins-experimental/server/hertz
	./plugins/client/middleware/log
	./plugins/client/orb
	./plugins/client/orb/transport/drpc
	./plugins/client/orb/transport/grpc
	./plugins/client/orb/transport/h2c
	./plugins/client/orb/transport/http
	./plugins/client/orb/transport/http3
	./plugins/client/orb/transport/https
	./plugins/client/tests
	./plugins/codecs/form
	./plugins/codecs/goccyjson
	./plugins/codecs/json
	./plugins/codecs/jsonpb
	./plugins/codecs/proto
	./plugins/codecs/yaml
	./plugins/config/source/cli/tests
	./plugins/config/source/cli/urfave
	./plugins/config/source/file
	./plugins/config/source/http
	./plugins/config/tests
	./plugins/event/natsjs
	./plugins/event/tests
	./plugins/log/lumberjack
	./plugins/log/slog
	./plugins/registry/consul
	./plugins/registry/regutil
	./plugins/registry/tests
	./plugins/server/cmd/protoc-gen-go-orb
	./plugins/server/drpc
	./plugins/server/grpc
	./plugins/server/http
	./plugins/util/tests
)
