go 1.23.6

use (
	./examples/benchmarks/event
	./examples/benchmarks/rps
	./examples/cmd/foobar
	./examples/event/simple
	./examples/realworld
	./examples/rest/auth
	./examples/rest/middleware
	./go-orb
	./plugins-experimental/client/orb/transport/hertz
	./plugins-experimental/server/hertz
	./plugins/cli/tests
	./plugins/cli/urfave
	./plugins/client/middleware/log
	./plugins/client/middleware/retry
	./plugins/client/orb
	./plugins/client/orb_transport/drpc
	./plugins/client/orb_transport/grpc
	./plugins/client/orb_transport/http
	./plugins/client/orb_transport/memory
	./plugins/client/tests
	./plugins/codecs/form
	./plugins/codecs/goccyjson
	./plugins/codecs/toml
	./plugins/codecs/json
	./plugins/codecs/jsonpb
	./plugins/codecs/proto
	./plugins/codecs/yaml
	./plugins/config/source/file
	./plugins/config/source/http
	./plugins/config/tests
	./plugins/event/natsjs
	./plugins/event/tests
	./plugins/kvstore/natsjs
	./plugins/kvstore/natsjs_micro_tests
	./plugins/log/lumberjack
	./plugins/log/slog
	./plugins/registry/consul
	./plugins/registry/kvstore
	./plugins/registry/memory
	./plugins/registry/mdns
	./plugins/registry/regutil
	./plugins/registry/tests
	./plugins/server/cmd/protoc-gen-go-orb
	./plugins/server/drpc
	./plugins/server/grpc
	./plugins/server/http
	./plugins/server/memory
	./plugins/util/tests
	./service/httpgateway
)
